@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Flashcard styles */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.flipped .rotate-y-180 {
  transform: rotateY(0deg);
}

.flipped .rotate-y-0 {
  transform: rotateY(180deg);
}

textarea {
  overflow: hidden; /* hides scrollbar */
  overflow-y: scroll; /* allows vertical scrolling, but hides scrollbar */
  scrollbar-width: none; /* for Firefox */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
textarea::-webkit-scrollbar {
  display: none;
}

/* Spinning loader */

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid oklch(87.2% 0.01 258.338);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
